.dashboard-main{
  min-height: 100vh;
  width: 100%;
  background-color: black;
}

.dashboard-1 {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}
  
  .dashboard-1::-webkit-scrollbar {
    height: 8px;
  }
  
  .dashboard-1::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  .dashboard-1::-webkit-scrollbar-thumb:hover {
    background: #555;
  }  



.dashboard-2{
    height: 30vh;
    width: 100%;
    background-color: white;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    /* border-radius: 100px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}



.events-holder {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 40px;
  /* background-color: #f5f5f5; */
  justify-content: center;
}
  
  



.chat-prom{
  margin-top: 20px;
  width: 90vw;
  height: 150px;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 80px;
  color: white;
  gap: 50px;
}

.chat-prom img{
  width: 90px;
}

.chat-prom h1{
  font-size: 60px;
}

.chat-prom button{
  width: 180px;
  height: 50px;
  border-radius: 25px;
  background-color: black;
  color: white;
  /* border: #FEB37C 3px solid; */
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;    
}